<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061898350479-t1ikha7keop36fglod2fth7dij0qg524.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061898350479-t1ikha7keop36fglod2fth7dij0qg524</string>
	<key>API_KEY</key>
	<string>AIzaSyC60zZJbye-L1D-5wqOT9yooWz-BK1ez6E</string>
	<key>GCM_SENDER_ID</key>
	<string>1061898350479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toodoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-cec8d</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-cec8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061898350479:ios:83cf97a2b57633a04ce5fa</string>
</dict>
</plist>